<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Login – Condado Louvadeus</title>
  <style>
    
  </style>
</head>
<body>
    <nav>         <!--  parte do "cabeçario" do site  -->
        <div class="navLogo">
            <a href="index.html">Pousada Condado Louvadeus</a>  
        </div>
        
        <div class="navLinks">
            <ul>
                <li> <a href="index.html">Inicio</a> </li>
                <li> <a href="acomodacoes.html">Acomodações</a> </li>
                <li> <a href="comoChegar.html">Como chegar</a> </li>
                <li> <a href="Contato.html">Contato</a> </li>
                <li> <a href="login.html">Fazer login</a> </li>
            </ul>
        </div>
    </nav>
    
    <main>        <!--  "corpo" do site  -->
        <h1>
            Faça login com o seu perfil para continuar a reserva!
        </h1>
        <form>
            <label for="email">Email:</label>
            <input type="email" id="email">
            <!--  tp email só aceita no formato de email  -->
            <label for="senha">Senha:</label>
            <input type="password" id="senha">
            <!--  tp senha esconde oq foi digitado  -->
        </form>  <!-- form p agrupar campos em q preencho e/ou(?) envia algo -->
        
        <button>Entrar</button>

        <a href="cadastro.html">Criar conta</a>
    </main>

    <footer>         <!--  o "rodape"  -->
        <a href="index.html">Pousada Condado Louvadeus</a>

        <div>
            <h4>LINKS</h4>
            <ul>
                <li> <a href="index.html">Inicio</a> </li>
                <li> <a href="acomodacoes.html">Acomodações</a> </li>
                <li> <a href="comoChegar.html">Como chegar</a> </li>
                <li> <a href="Contato.html">Contato</a> </li>
                <li> <a href="login.html">Fazer login</a> </li>
            </ul>
        </div>

        <div>
            <h4>CONTATOS</h4>
            <ul>
                <li> <a href="https://www.instagram.com/restaurantecondadolouvadeus">Instagram</a> </li>
                <li> Telefone - (24) 99221-5656 </li>
                <li> <a href="contato.html">Email</a> </li>
                <li> <a href="comoChegar.html">Endereço</a> </li>
            </ul>
        </div>

        <p> ©2026 - Condado Louvadeus. Todos os direitos reservados. </p>
    </footer>

</body>
</html>